* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
}

.bookList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .bookList {
    grid-template-columns: repeat(4, 1fr);
    // align-items: start;
  }

  .book h1 {
    margin-top: 0.5rem;
  }
  .book h3 {
    color: rgb(76, 0, 255);
    letter-spacing: 3px;
  }
  .book p {
    margin-top: 0.5rem;
  }
  //move inline back here after
}
